$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
$dark-gray-half: hsla(0, 0%, 59%, .3);
$font-size: 18px;

@font-face {
    font-family: 'kumbh';
    src: url(../fonts/Kumbh_Sans/KumbhSans-VariableFont_wght.ttf);
    font-display: swap;
}

$font-family: 'kumbh';